<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>487855595072-7ousmvhvihkpq0fl08480gl3v901i0go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487855595072-7ousmvhvihkpq0fl08480gl3v901i0go</string>
	<key>API_KEY</key>
	<string>AIzaSyDz8YaZ74Jx13eIicoruPOgGElpyHUqbLg</string>
	<key>GCM_SENDER_ID</key>
	<string>487855595072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayankajha.CSW-Test</string>
	<key>PROJECT_ID</key>
	<string>csw-test</string>
	<key>STORAGE_BUCKET</key>
	<string>csw-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487855595072:ios:2b7361bfbfe590b8</string>
	<key>DATABASE_URL</key>
	<string>https://csw-test.firebaseio.com</string>
</dict>
</plist>